body {
  margin: 0;
  padding: 0;
}
table {
  margin: 20px;
}
.user-list {
  margin: 0;
}
h2 {
  text-align: center;
  margin-top: 0;
}
table {
  width: 80%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  overflow: hidden !important;
  margin-bottom: 100px;
}
th,
td {
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
tr {
  height: 50px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px rgb(181, 192, 196);
  margin: 10px;
  transition: ease 0.4s;
}
tr:hover {
  box-shadow: 2px 8px 2px 2px rgba(90, 112, 119, 0.2);
}
