<div class="user-list">
  <table>
    <thead>
    <tr>
    <th>Profile</th>
    <th>Id</th>
    <th>UserName</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @for(user of users; track user){
    <tr>
         <td><div class="profile">GR</div></td> 
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td><input type="button" class="btn btn-primary" (click)="viewDetails(user.id)" value="View Details" ></td>
    </tr>
    }
    </tbody>
   </table>
</div>

    