@import "@fortawesome/fontawesome-free/css/all.css";

.home {
  color: rgb(105, 102, 102);
  cursor: pointer;
  margin-bottom: 10px;
}

.fa-solid {
  color: rgb(105, 102, 102);
}
.card {
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
.col-md-8 {
  width: 100%;
  line-height: 40px;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid mediumblue;
  font-size: 30px;
  color: mediumblue;
  text-align: center;
  line-height: 70px;
  margin: 20px 0;
}

.user-name {
  font-style: italic;
  margin: auto;
}

.card-title {
  color: mediumblue;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px #c5c5c7;
}

.horizontal .card-title {
  text-align: center;
}

.mb-3 {
  margin: auto;
}

.section {
}
