@import "@fortawesome/fontawesome-free/css/all.css";

.home {
  width: fit-content;
  color: rgb(105, 102, 102);
  cursor: pointer;
  margin-left: 10%;
  margin-bottom: 10px;
  font-weight: 700;
}
.home:hover {
  border: none;
  box-sizing: border-box;
  transition: 0.2s ease;
  text-decoration: underline;
}
#home:hover {
  text-shadow: 2px 2px 4px rgb(168, 163, 163);
}
.fa-house {
  margin-right: 5px;
}
.card {
  border-radius: 30px;
  border: none;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
.col-md-8 {
  width: 100%;
  line-height: 40px;
}

.user-name {
  font-style: italic;
  margin: auto;
}

.card-text a {
  text-decoration: none;
}

.card-title {
  color: mediumblue;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px #c5c5c7;
}

.horizontal .card-title {
  text-align: center;
}

.mb-3 {
  margin: auto;
  margin-bottom: 3rem !important;
}

.section {
  font-weight: 700;
}

.title {
  color: rgb(24, 23, 23);
  font-weight: 500;
}
